.container {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
  }
  
  html, body {
    height: 100%;
  }
  
  header {
    height: 186px;
    background: #fff;
    font-size: 12px;
  }
  header .header_top {
    height: 28px;
    background: #efefef;
    border-bottom: 1px solid #e7e7e7;
  }
  header .header_top .insideLeft {
    height: 100%;
    padding-top: 5px;
    position: relative;
  }
  header .header_top .insideLeft li {
    float: left;
    padding: 0 15px 0 15px;
  }
  header .header_top .insideLeft li span {
    display: inline-block;
    height: 20px;
    width: 20px;
    background: url(../img/sideNav_ico.png) 0 2px no-repeat;
    vertical-align: middle;
  }
  header .header_top .insideLeft li a:hover {
    color: #ff3d3b;
  }
  header .header_top .insideLeft li a:hover span {
    background-position: 0 -25px;
  }
  header .header_top .insideLeft li:nth-child(3) span {
    background-position: 0 -54px;
  }
  header .header_top .insideLeft li:nth-child(3) a:hover span {
    background-position: 0 -81px;
  }
  header .header_top .insideLeft .attention {
    position: absolute;
    left: -100px;
    top: 23px;
    display: none;
  }
  header .header_top .insideRight {
    height: 25px;
    padding-top: 5px;
  }
  header .header_top .insideRight li {
    margin-left: 5px;
    float: left;
    height: 20px;
    padding: 0 5px;
  }
  header .header_top .insideRight li a:hover {
    color: #ff3d3b;
  }
  header .header_top .insideRight li:nth-child(4) span {
    display: inline-block;
    height: 20px;
    width: 18px;
    vertical-align: middle;
    background: url(../img/sideNav_ico.png) 0 -162px no-repeat;
  }
  header .header_top .insideRight li:nth-child(4) a:hover span {
    background-position: 0 -189px;
  }
  header .header_top .insideRight .login {
    margin-left: 20px;
    margin-right: 10px;
  }
  header .header_top .insideRight .login a {
    padding-left: 5px;
  }
  header .header_top .insideRight .toCart {
    margin-right: 5px;
  }
  header .header_top .insideRight .toCart a {
    display: block;
    width: 100%;
    height: 16px;
    background: #ff3d3b;
    color: #fff;
    padding: 0 3px;
  }
  header .header_top .insideRight .toCart a span {
    display: inline-block;
    height: 20px;
    width: 18px;
    vertical-align: middle;
    background: url(../img/sideNav_ico.png) 0 -108px no-repeat;
  }
  header .header_top .insideRight .toCart a:hover {
    color: #000;
  }
  header .header_top .insideRight .toCart a:hover span {
    background-position: 0 -134px;
  }
  header .header_main {
    height: 158px;
    width: 100%;
  }
  header .header_main .header_content {
    height: 124px;
    width: 100%;
    position: relative;
  }
  header .header_main .header_content h1 {
    width: 190px;
    height: 124px;
    overflow: hidden;
  }
  header .header_main .header_content h1 a {
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: 18px;
    box-sizing: border-box;
  }
  header .header_main .header_content .search {
    position: absolute;
    left: 270px;
    top: 30px;
  }
  header .header_main .header_content .search p:nth-child(1) {
    color: #c70904;
  }
  header .header_main .header_content .search .searchInput {
    margin: 3px 0;
  }
  header .header_main .header_content .search .searchInput input:nth-child(1) {
    width: 360px;
    height: 30px;
    border: 1px solid #ff3d3b;
    padding: 0 10px;
  }
  header .header_main .header_content .search .searchInput input:nth-child(2) {
    width: 108px;
    height: 30px;
    background: #ff3d3b;
    color: #fff;
    margin-left: -5px;
  }
  header .header_main .header_content .search p:nth-child(3) {
    color: #999999;
  }
  header .header_main .header_content .search p:nth-child(3) a {
    color: #999;
  }
  header .header_main .header_content .search p:nth-child(3) a:hover {
    color: #ff3d3b;
  }
  header .header_main .header_content .notice {
    position: absolute;
    right: 20px;
    top: 46px;
  }
  header .header_main .nav {
    height: 35px;
    width: 100%;
    font-size: 15px;
    border-bottom: 1px solid #ff3d3b;
  }
  header .header_main .nav .categorys {
    width: 190px;
    position: relative;
  }
  header .header_main .nav .categorys .category {
    width: 190px;
    height: 34px;
    line-height: 34px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    background: #ff3d3b url(../img/icon_printes.png) 165px 14px no-repeat;
  }
  header .header_main .nav .categorys .menu {
    position: absolute;
    top: 35px;
    left: 0;
    height: 401px;
    width: 190px;
    background: url(../img/bg_1.png) no-repeat;
    display: none;
  }
  header .header_main .nav .categorys .menu li {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
  }
  header .header_main .nav .categorys .menu li > a {
    color: #fff;
    display: block;
    height: 50px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 66px;
  }
  header .header_main .nav .categorys .menu li .m_hot {
    background: url(../img/icon2.png) 10px -41px no-repeat;
  }
  header .header_main .nav .categorys .menu li .m_drink {
    background: url(../img/icon2.png) 10px -146px no-repeat;
  }
  header .header_main .nav .categorys .menu li .m_nutrition {
    background: url(../img/icon2.png) 10px -239px no-repeat;
  }
  header .header_main .nav .categorys .menu li .m_beauty {
    background: url(../img/icon2.png) 10px -342px no-repeat;
  }
  header .header_main .nav .categorys .menu li .m_baby {
    background: url(../img/icon2.png) 10px -441px no-repeat;
  }
  header .header_main .nav .categorys .menu li .m_home {
    background: url(../img/icon2.png) 10px -542px no-repeat;
  }
  header .header_main .nav .categorys .menu li .m_digital {
    background: url(../img/icon2.png) 10px -638px no-repeat;
  }
  header .header_main .nav .categorys .menu li .m_adult {
    background: url(../img/icon2.png) 10px -739px no-repeat;
    height: 51px;
  }
  header .header_main .nav .categorys .menu li .erji {
    display: none;
    width: 545px;
    height: 400px;
    position: absolute;
    top: 0;
    left: 190px;
    z-index: 5;
    padding: 25px 20px;
    font-size: 12px;
    background: rgba(255, 255, 255, 0.8);
  }
  header .header_main .nav .categorys .menu li .erji dl {
    margin: 5px 0;
  }
  header .header_main .nav .categorys .menu li .erji dt {
    line-height: 20px;
    color: #444;
    font-weight: bold;
  }
  header .header_main .nav .categorys .menu li .erji dd {
    line-height: 20px;
  }
  header .header_main .nav .categorys .menu li .erji dd a {
    color: #999;
    margin: 0 3px;
  }
  header .header_main .nav .categorys .menu li .erji dd a:hover {
    color: #ff3b3b;
  }
  header .header_main .nav .categorys .menu .act > a {
    color: #ff3b3b;
    font-weight: bold;
  }
  header .header_main .nav .categorys .menu .act .m_hot {
    background: #fff url(../img/icon2.png) 10px 9px no-repeat;
  }
  header .header_main .nav .categorys .menu .act .m_drink {
    background: #fff url(../img/icon2.png) 10px -95px no-repeat;
  }
  header .header_main .nav .categorys .menu .act .m_nutrition {
    background: #fff url(../img/icon2.png) 10px -189px no-repeat;
  }
  header .header_main .nav .categorys .menu .act .m_beauty {
    background: #fff url(../img/icon2.png) 10px -291px no-repeat;
  }
  header .header_main .nav .categorys .menu .act .m_baby {
    background: #fff url(../img/icon2.png) 10px -390px no-repeat;
  }
  header .header_main .nav .categorys .menu .act .m_home {
    background: #fff url(../img/icon2.png) 10px -492px no-repeat;
  }
  header .header_main .nav .categorys .menu .act .m_digital {
    background: #fff url(../img/icon2.png) 10px -588px no-repeat;
  }
  header .header_main .nav .categorys .menu .act .m_adult {
    background: #fff url(../img/icon2.png) 10px -690px no-repeat;
    border-bottom: 1px solid #ccc;
  }
  header .header_main .nav .navtitle {
    height: 34px;
  }
  header .header_main .nav .navtitle li {
    float: left;
    height: 34px;
    line-height: 34px;
    overflow: hidden;
    padding: 0 10px;
  }
  header .header_main .nav .navtitle li a {
    font-weight: bold;
  }
  header .header_main .nav .navtitle li a:hover {
    color: #ff3d3b;
  }

main{
  width: 100%;
}
main .cons{
  width: 100%;
  padding: 20px 3px 150px 3px;
  color: #666;
}
main .cons a{
  color: #666;
}
main .cons::after{
		content:'';
		display:block;
		clear: both;
		height: 0;
		overflow: hidden;
		visibility: hidden;
}
main .cons .hotgoods{
  width: 210px;
  /* height: 2000px; */
  border: 1px solid #ccc;
}
main .cons .hotgoods h3{
  height: 37px;
  line-height: 36px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  background: #fafafa;
}
main .cons .hotgoods ul{
  width: 100%;
}
main .cons .hotgoods ul li{
  width: 100%;
  padding-top: 10px;
}
main .cons .hotgoods ul li a img{
  height: 100px;
  width: 100px;
  margin: 0 54px 6px;
}
main .cons .hotgoods ul li .goods_name{
  font-size: 12px;
  padding: 0 14px;
  display: block;
  height: 36px;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}
main .cons .hotgoods ul li .price{
    font-size: 12px;
    display: block;
    margin: 6px 14px;
    color: #F86F76;
    padding-bottom: 16px;
    border-bottom: 1px solid #eee;
}
main .cons .goodslist{
  margin-left: 15px;
  width: 960px;
}
main .cons .goodslist .orderlist{
  width: 960px;
  border: 1px solid #ccc;
  height: 42px;
  line-height: 42px;
  font-size: 12px;
  padding-left: 20px;
}
main .cons .goodslist .orderlist a{
  display: inline-block;
  line-height: 26px;
  font-size: 12px;
  padding-left: 10px;
}
main .cons .goodslist .orderlist .moren{
  width: 36px;
  height: 27px;
  color: #666;
  border: 1px solid #ccc;
  background: #fff;
}
main .cons .goodslist .orderlist .moren:hover{
  color: #F64900;
}
main .cons .goodslist .orderlist .xiaoliang{
  width: 54px;
  height: 27px;
  color: #fff;
  font-weight: 700;
  background: #F64900;
  border: 1px solid #E4393C;
  margin-left: 5px;
}
main .cons .goodslist .orderlist .xiaoliang b{
  display: inline-block;
  margin-left: 8px;
  width: 9px;
  height: 11px;
  background: url(../img/2312090725.png) 0 0 no-repeat;
}
main .cons .goodslist .orderlist .xiaoliang .down{
  background: url(../img/2312090725.png) 0 -11px no-repeat;
}
main .cons .goodslist .orderlist span{
  margin-left: 20px;
}
main .cons .goodslist .orderlist input{
  width: 42px;
  height: 22px;
  border: 1px solid #ddd;
  text-align: center;
}
main .cons .goodslist .orderlist .makesure{
  border: 1px solid #ddd;
  width: 42px;
  height: 20px;
  vertical-align: middle;
  line-height: 20px;
  text-align: center;
  padding-left: 0;
}
main .cons .goodslist .orderlist .makesure:hover{
  background: #F64900;
  color: #fff;
}
main .cons .goodslist .goodsListUl{
  width: 960px;
  /* background: lightcoral; */
  padding-top: 10px;
  overflow: hidden;
}
main .cons .goodslist .goodsListUl li{
  width: 221px;
  height: 258px;
  border: 4px solid #fff;
  float: left;
  margin: 0 9px 10px 9px;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
}
main .cons .goodslist .goodsListUl li:hover{
  border-color: rgb(221, 221, 221);
}
main .cons .goodslist .goodsListUl li img{
  width: 158px;
  height: 158px;
}
main .cons .goodslist .goodsListUl li p{
  font-size: 14px;
  font-weight: bold;
  line-height: 30px;
  color: #990033;
}
main .cons .goodslist .goodsListUl li p span{
  color: #f00;
}
main .cons .goodslist .goodsListUl li .goodsName{
  font-size: 12px;
  text-align: left;
  display: block;
  height: 40px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  text-indent: 2em;
  line-height: 20px;
}

main .cons .goodslist .pager{
  clear: both;
  margin-top: 40px;
  margin-bottom: 10px;
  width: 100%;
  float: left;
  font-size: 12px;
  color: #999;
  /* margin-right: 3%; */
}
main .cons .goodslist .pager .pager_con{
  float: right;
}
main .cons .goodslist .pager .pager_con a{
  float: left;
  color: #666;
  cursor: pointer;
}
main .cons .goodslist .pager .pager_con .lastnext{
    border: #CCCCCC 1px solid;
    padding-left: 15px;
    padding-right: 15px;
    height: 25px;
    line-height: 25px;
    margin-right: 15px;
    background-color: #FFFFFF;
}
main .cons .goodslist .pager .pager_con .lastnext:hover{
  background: #666;
  color: #fff;
}
main .cons .goodslist .pager .pager_con .items{
  float: left;
  margin-right: 30px;
}
main .cons .goodslist .pager .pager_con .items a{
    margin-right: 10px;
    border: #CCCCCC 1px solid;
    padding-left: 15px;
    padding-right: 15px;
    height: 25px;
    line-height: 25px;
    background-color: #FFFFFF;
}
main .cons .goodslist .pager .pager_con .items .item-active{
  background: #ccc;
  color: #fff;
}
main .cons .goodslist .pager .pager_con .totalpage{
  line-height: 25px;
}
main .cons .goodslist .pager .pager_con .to{
    height: 25px;
    line-height: 25px;
    margin-right: 10px;
    padding-left: 10px;
}
main .cons .goodslist .pager .pager_con .to input{
    border: #ccc solid 1px;
    height: 22px;
    width: 33px;
    margin: 0 5px;
}
main .cons .goodslist .pager .pager_con .ensure{
  height: 25px;
  line-height: 25px;
}
main .cons .goodslist .pager .pager_con .ensure:hover{
  color: #ff3b3b;
  text-decoration: underline;
}
main .cons .goodslist .pagerUnder{
  padding: 0 15px;
  height: 30px;
  font-size: 12px;
  line-height: 28px;
  background: #ffc;
  color: #f60;
  clear: both;
  border: 1px solid #ddd;
}



  .link {
    height: 240px;
    width: 100%;
    padding-top: 24px;
    background: #efefef;
    border-top: 2px solid #ff3333;
  }
  .link .link_info {
    width: 760px;
    height: 216px;
  }
  .link .link_info dl {
    float: left;
    width: 152px;
    text-align: center;
    color: #333;
  }
  .link .link_info dl dt {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 24px;
    border-right: 1px solid #ccc;
  }
  .link .link_info dl:nth-child(5) dt {
    border-right: none;
  }
  .link .link_info dl dd {
    height: 22px;
  }
  .link .link_info dl dd a {
    font-size: 12px;
  }
  .link .link_info dl dd a:hover {
    color: #FF3B3B;
  }
  .link .link_kefu {
    width: 242px;
    height: 160px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
  .link .link_kefu dl {
    color: #333;
    text-align: center;
    margin-bottom: 10px;
    padding: 0 5px;
  }
  .link .link_kefu dl dt {
    font-size: 14px;
    font-weight: bold;
  }
  .link .link_kefu dl dd {
    font-size: 12px;
    margin-top: 5px;
  }
  .link .link_code {
    width: 196px;
    height: 192px;
    text-align: center;
  }
  .link .link_code dl {
    color: #333;
  }
  .link .link_code dl dt {
    font-size: 14px;
    font-weight: bold;
    margin-top: 6px;
  }
  .link .link_code dl dd {
    font-size: 12px;
    line-height: 24px;
  }
  
  footer {
    background: #ccc;
  }
  footer .footService {
    width: 1200px;
    height: 160px;
    margin: 0 auto;
    background: url(../img/footerpic.jpg) no-repeat;
  }
  footer .copyRight_con {
    background: #efefef;
    width: 100%;
    height: 160px;
  }
  footer .copyRight_con p {
    text-align: center;
    line-height: 30px;
    padding: 10px 0;
    font-size: 12px;
  }
  footer .copyRight_con .brand_link {
    text-align: center;
  }